
:host { 
    display: flex;
    width: 100%;
    height: 100vh;
    video { height: 100%; width: 100%; }
    .mirrored { transform: rotateY(180deg); }
    .scanner, canvas {
        background: #000;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .scanner-wrapper {
        width: 70%;
        height: 30%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        backface-visibility: hidden;
        span {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 5px;
            z-index: 1;
            background-color: rgba(255, 0, 0, 0.5);
            transform: translateY(-50%);
            animation: move 2.5s cubic-bezier(0.15,0.44,0.76,0.64);
            animation-iteration-count: infinite;
        }
        &:before,  &:after, em:after, em:before {
            content: "";
            position: absolute;
            width: 19px;
            height: 16px;
            border-style: solid;
            border-width: 0px;
            border-color: rgba(255, 255, 255, 0.5);
        }
        &:before {
            left: 0;
            top: 0;
            border-left-width: 2px;
            border-top-width: 2px;
        }
        &:after {
            right: 0;
            top: 0;
            border-right-width: 2px;
            border-top-width: 2px;
        }
        em:before {
            left: 0;
            bottom: 0;
            border-left-width: 2px;
            border-bottom-width: 2px;
        }
        em:after {
            right: 0;
            bottom: 0;
            border-right-width: 2px;
            border-bottom-width: 2px;
        }
    }
}
  
@keyframes move {
    0%, 100% { top: 75%; }
    25% { top: 25%; }
    50% { top: 90%; }
    75% { top: 10%; }
}